*{
   font-family: 'DotGothic16',
   sans-serif;
   font-family: 'Josefin Sans',
   sans-serif;
}


hr{
    width:100%;
    height:2px;
}

header{
    width:100%;
    position: relative;
    z-index:2;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

header #topHeader{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:20%;
    background-color:#111212;
}

header #topHeader .logotype{
    width:40%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

header #topHeader .logotype img{
    width:60%;
    height:inherit;
}

header #topHeader .navbar{
    width:50%;
    height:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

header #topHeader .navbar li{
    list-style: none;
    max-width: fit-content;
}

header #topHeader .navbar li a{
    text-decoration: none;
    color:#606061;
    font-size:20px;
}

header #topHeader .navbar li a:hover{
    color:white;
    border-bottom:1px solid white;
    transition:border 1s;
    transition: color 2s;
}

/*SLIDER--------------------------------------------------------------------*/

header #bottomHeader{
    width:100%;
    height:300px;;
    background-image: url('https://c.wallhere.com/photos/55/d7/1600x844_px_Dota_2_Shadow_Fiend_video_games-714652.jpg!d');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-blend-mode: multiply;
    background-color:#37383829;
    display:flex;
    box-shadow: 0px 9px 16px 0px rgba(0, 0, 0, 0.75);
}

header #bottomHeader .description{
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color:white;
}

header #bottomHeader .description img{
    width:30%;
}

/*MAIN--------------------------------------------------------------------------*/

main{
    height:200vh;
    background-color: #111212;
}

main .wrapper{
    padding:1em 1em;
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
}

main .wrapper .games,.consoles{
    width:100%;
    height:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}

main .wrapper .games .gameCard{
    width:250px;
    height:250px;
    padding:0 2em 2em 2em;
}

main .wrapper .games .gameCard img{
    width:250px;
    height:250px;
    object-fit:contain;
}

main .wrapper .games .gam{
    background-color:#00000029;
}
